footer {
  background-color: #008075;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}
footer h3 {
  font-size: 14px;
}
footer p{
  font-size: 12px;
}
.footerLeft {
  margin-left: 20px;
  display: inline-block;
}
.footerRight {
  text-align: right;
  float: right;
  margin-right: 20px;
}
.partnerContainer {
  display: inline-block;
  margin-left: 20px;
}
.contactContainer {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
