<div class="loginWrapper">

  <div class="Welcomebox" ng-show="!hideWelcome">
    <h1>Welcome to KAKE</h1>
    <h2>What are you looking for?</h2>
    <div class="buttonContainer">
      <button class="button" ng-click="hideWelcome = true; company = true" >An employee</button>
      <button class="button" ng-click="hideWelcome = true">A job</button>
      <p> KAKE is the new revolutionary way to recruit. This HR-system is focused on <thead>
        jobbseeker's skills and personality trades instead of the ordinary way, to
        base the recruiting on CV's and diplomas. KAKE enables the best matches,
        regardless for exempel education, disabilities or gender.
      </thead></p>
    </div>
  </div>

  <div class="Loginbox" ng-show="hideWelcome">
    <h1>Sign in</h1>
    <div class="left-container">
   		<div id="addUsername">
	        <h2 class="addLoginLabel">Username</h2>
	        <input class="addLoginInput" />
	    </div>

	    <div id="addPassword">
	        <h2 class="addLoginLabel">Password</h2>
	        <input class="addLoginInput" />
	    </div>
	    <a class="button" ui-sref="profile" ng-click="login()">Sign in</a>
    </div>

    <div class="right-container">
    	<p>or Sign in with LinkedIn</p>
    	<a ui-sref="profile" class="button" id="linkedin-btn" ng-click="login()">Sign in with LinkedIn</a>
    </div>
  </div>
</div>
