<div class="loginWrapper">

  <div class="Welcomebox" ng-show="!hideWelcome">
    <h1>Welcome to KAKE</h1>
    <h2>What are you looking for?</h2>
    <div class="buttonContainer">
      <button class="button" ng-click="hideWelcome = true; company = true" >An employee</button>
      <button class="button" ng-click="hideWelcome = true">A job</button>
    </div>
  </div>

  <div class="Loginbox" ng-show="hideWelcome">
    <h1>Sign in</h1>
    <form class="addLogin">
      <div id="addUsername">
        <h2 class="addLoginLabel">Username</h2>
        <input class="addLoginInput" />
      </div>

      <div id="addPassword">
        <h2 class="addLoginLabel">Password</h2>
        <input class="addLoginInput" />
      </div>

      <div id="addLinkedIn">
        <script type="in/Login"></script>
      </div>

    <div class="buttonContainer">
      <a class="button" ui-sref="profile">Sign in</a>
    </div>
  </div>
</div>
