.loginWrapper {
}
.buttonContainer {
  height: 200px;
  width: 800px;
  text-align: center;
}
.Welcomebox {
  background-color: white;
  height: 500px;
  width: 800px;
  margin: auto;
  border: 1px solid black;
}
.Welcomebox h1{
  letter-spacing: 10px;
  margin-top: 100px;
  text-align: center;
  font-style: 900%;
  color: black;
}
.Welcomebox h2{
  text-align: center;
  font-style: 500%;
  color: black;
}
.button {
    background-color: #B21565;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
