<div class="profileWrapper" ng-controller="NewJobCtrl">

  <h1>Create a position</h1>
  <p>Create a position you are currently hiring for by adding a title and the skills needed of the future employee.</p>

  <form class="addJobForm">
    <div id="addJobTitleContainer">
      <p class="addJobFormLabel">Position Title</p>
      <input class="addJobFormInput" ng-model="newJob.title"/>
    </div>

    <div id="addJobSkillsContainer">
      <p class="addJobFormLabel">Skills</p>
      <input class="addJobFormInput" ng-model="keyword" ng-change="searchKeyword(keyword)"/>
      <p class="addJobFormLabel"></p>
      <div class="searchResults" ng-hide="!searchResult || keyword.length < 1 ">
        <button class="resultValue" ng-repeat="result in searchResult" ng-click="addSkill(result)">{{result.word}}</button>
        <button class="addValue" ng-click="addNewSkill(keyword); addSkill({word:keyword, type:'skill'})" ng-hide="searchResult.length > 0">+ Add skill</button>
      </div>
    </div>

    <button type="submit" class="button" ng-click ="popup=true" id="addJobButton">Create position</button>
  </form>

  <div class="skillsListContainer">
    <p> Requested skills: </p>
    <ul id="skillsList" ng-repeat="skill in newJob.skills">
      <li>{{skill.word}}</li>
    </ul>
  </div>

  <div class="popup" ng-show="popup">
    <div class="messageBox">
      <h1>Thank you for creating a position</h1>
      <p>We will keep you updated!</p>
      <a href="#" ng-click="popup=false; keyword=''; newJob.title=''; newJob.skills=[]"> Close</a>
    </div>
  </div>

</div>
